/* グローバルスタイル */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}



/* ローディング画面 */
#loading-screen {

    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 1s ease, visibility 0s 1s;
}

#loading-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.text-svg {
    width: 500px;
    height: 100px;
}

.loading-text {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    fill: none;
    stroke: #202020;
    stroke-width: 2;
    font-size: 4rem;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: drawText 3s linear forwards;
}

@keyframes drawText {
    to {
        stroke-dashoffset: 0;
    }
}

.bg-image {
    background: no-repeat center url(./image/background.png);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.bg-image::before{
    content: '';
    position: fixed; /* 背景を固定 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat url(./image/background.png);
    background-size: cover; /* 背景画像を画面に合わせる */
    background-attachment: fixed;
    z-index: -1; /* 背景として扱う */
    filter: blur(8px); /* ぼかしの強さを調整 */
}

/* ナビゲーションバー */
nav {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 50;
    /* ローディング画面より下に配置 */
    opacity: 0;
    /* 初期状態で非表示 */
    visibility: hidden;
    /* 見えない状態にする */
    transition: opacity 0.5s ease, visibility 0s 0.5s;
    /* スムーズに表示 */
}

/* ローディング画面が消えた後にナビゲーションを表示 */
nav.show {
    opacity: 1;
    /* 表示 */
    visibility: visible;
    /* 見える状態に切り替え */
    transition: opacity 0.5s ease;
    /* スムーズなフェードイン */
}


.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .gallery-images {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .gallery p {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        transition: transform 0.3s ease;
        cursor: pointer;
        align-items: center;
        font-size: 25px;
    }

    .gallery p:hover {
        transform: scale(1.05);
    }

    .gallery p img {
        border: solid 3px #202020;
        width: 80%;
        height: auto;
    }

    .scroll_down {
        position: relative;
        width: 10%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .scroll_down:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background: linear-gradient(180deg, rgba(#000, 0) 0, rgba(#000, .8) 80%, rgba(#000, .8) 100%);
    }

    .scroll_down a {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 19%;
        padding: 10px 10px 110px;
        color: #000;
        font-size: 14px;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1;
        letter-spacing: .2em;
        text-transform: uppercase;
        text-decoration: none;
        writing-mode: vertical-lr;
        transition: .2s;
        overflow: hidden;
        margin: auto;
    }

    .scroll_down a:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        height: 100px;
        background: #ddd;
    }

    .scroll_down a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        height: 100px;
        background: #000;
    }

    .scroll_down a:hover {
        opacity: .5;
    }

    #type01 a:after {
        animation: sdl01 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    }

    @keyframes sdl01 {
        0% {
            transform: scale(1, 0);
            transform-origin: 0 0;
        }

        50% {
            transform: scale(1, 1);
            transform-origin: 0 0;
        }

        50.1% {
            transform: scale(1, 1);
            transform-origin: 0 100%;
        }

        100% {
            transform: scale(1, 0);
            transform-origin: 0 100%;
        }
    }

}

/* ヒーローセクション */
.hero {
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #f0f0f0; */
}

.hero h1,
.hero p {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 48px;
    color: #202020;
    margin: 0;
}

.hero p {
    font-size: 20px;
    color: #202020;
    margin-top: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');


html {
    scroll-behavior: smooth;
}

.scroll_down {
    position: relative;
    width: 10%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll_down:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(180deg, rgba(#000, 0) 0, rgba(#000, .8) 80%, rgba(#000, .8) 100%);
}

.scroll_down a {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 19%;
    padding: 10px 10px 110px;
    color: #000;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    transition: .2s;
    overflow: hidden;
    margin: auto;
}

.scroll_down a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100px;
    background: #ddd;
}

.scroll_down a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100px;
    background: #000;
}

.scroll_down a:hover {
    opacity: .5;
}

#type01 a:after {
    animation: sdl01 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes sdl01 {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    50.1% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}


/* ギャラリー */
.gallery {
    padding: 40px 20px;
    text-align: center;
}

.gallery h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.gallery-images {
    display: flex;
    align-items: center;
}

.gallery p {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    align-items: center;
    font-size: 25px;
}

.gallery p:hover {
    transform: scale(1.05);
}

.gallery p img {
    border: solid 3px #202020;
    width: 80%;
    height: auto;
}

/* フッター */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer h2 {
    font-size: 24px;
}

footer a {
    color: #ffd700;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}